html,
body {
	height: 100%;
	margin: 0px;
	background: url(../img/timg.jpg);
}

#pwd {
	float: left;
	padding-left: 50px;
	font-size: 14px;
	color: #999
}
#pwd:hover,#registe:hover{
	color:#D43F3A
}
#registe {
	float: right;
	padding-right: 50px;
	font-size: 14px;
	color: #999
}

#screen {
	margin: auto;
	position: relative;
	background: #FFF;
	width: 420px;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
	padding: 70px 20px 60px 20px;
}

.input-primay {
	padding: 20px 45px;
}

.input-primay input[type="text"] {
	width: 100%;
	padding: 15px 5px;
}

.input-primay input[type="password"] {
	width: 100%;
	padding: 15px 5px;
}

input[type="text"] {
	border: 0px;
	border-bottom: 1px solid #BBB;
}

input[type="password"] {
	border: 0px;
	border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
	border: 0px;
	border-bottom: 1px solid #195B93;
}

input[type="password"]:focus {
	border: 0px;
	border-bottom: 1px solid #195B93;
}

.btn-success {
	background: #30A730;
	color: #FFF;
	border: 0px;
	font-size: 18px;
	width: 300px;
	height: 45px;
	cursor: pointer;
}

.btn-success:hover {
	background: #6CC06C;
}

.btn-primary {
	background: #307DA7;
	color: #FFF;
	border: 0px;
	font-size: 18px;
	width: 300px;
	height: 45px;
	cursor: pointer;
}

.btn-primary:hover {
	background: #6CA5C5;
}