<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.llhao.gobang.entity"/>
        <package name="com.llhao.gobang.dao.jo" />
    </typeAliases>
    <mappers>
        <package name="com.llhao.gobang.dao" />
    </mappers>
</configuration>